<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h3 class="card-title">Test Component</h3>
                <p class="card-category">Test
                    <a target="_blank" href="https://github.com/mouse0270">test </a>
                    <a href="http://bootstrap-notify.remabledesigns.com/" target="_blank">TEST</a>
                </p>
            </div>
            <div class="card-body">
                <p class="card-category">START WORK
                </p>
            </div>
        </div>
    </div>
</div>
